<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="info">
        <div id="quotes">
            <child-quote></child-quote>
           
        </div>

        <div class="bio">
            <child></child>
        </div>

        <div id="links">
            <child-ref></child-ref>
            
        </div>



        <div id="pic2">
            <img src="../assets/bill2.jfif" alt="Bill Gates">
        </div>
    </div>


</body>

</html>